@import './custom.css';

/* 自定义样式 */
.pix-input {
  background-image: url('./src/assets/images/border-bg/input.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
